<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xwtec.ecu.web.user.dao.UserMapper">
	
	<!-- 根据号码查询用户信息 -->
	<select id="qryUserInfoByTelNum" parameterType="String" resultType="com.xwtec.ecu.web.user.bean.UserInfo">
		SELECT
		    T.USER_ID AS userId,
		    T.PASSWORD AS password,
		    T.TELNUM AS telnum,
		    T.NICK_NAME AS nickName,
		    T.HEAD_IMAGE AS headImage,
		    T.HEAD_SMALL_IMAGE AS headSmallImage,
		    T.SEX AS sex,
		    T.USER_NAME AS userName,
		    T.COUNTRY AS country,
		    T.IDENTIFY_TYPE AS identifyType,
		    T.IDENTIFY_ID AS identifyId,
		    T.AREA AS area,
		    T.ADDRESS AS address,
		    T.OCCUPATION AS occupation,
		    T.STATUS AS status,
		    T.IS_REAL AS isReal,
		    T.EMAIL AS email,
		    T.SALT AS salt,
		    T.IS_LOCK AS isLock,
		    T.IS_PAY_LOCK AS isPayLock,
		    T.BIRTHDAY AS birthday
		FROM T_USER_INFO T 
		     WHERE T.TELNUM = #{telNum}
	</select>
	
	<!-- 根据用户ID查询用户 -->
	<select id="qryUserInfoByUserId" parameterType="String" resultType="com.xwtec.ecu.web.user.bean.UserInfo">
		SELECT
		    T.USER_ID AS userId,
		    T.PASSWORD AS password,
		    T.TELNUM AS telnum,
		    T.NICK_NAME AS nickName,
		    T.HEAD_IMAGE AS headImage,
		    T.HEAD_SMALL_IMAGE AS headSmallImage,
		    T.SEX AS sex,
		    T.USER_NAME AS userName,
		    T.COUNTRY AS country,
		    T.IDENTIFY_TYPE AS identifyType,
		    T.IDENTIFY_ID AS identifyId,
		    T.AREA AS area,
		    T.ADDRESS AS address,
		    T.OCCUPATION AS occupation,
		    T.STATUS AS status,
		    T.IS_REAL AS isReal,
		    T.EMAIL AS email,
		    T.SALT AS salt,
		    T.IS_LOCK AS isLock,
		    T.IS_PAY_LOCK AS isPayLock,
		    T.BIRTHDAY AS birthday
		FROM T_USER_INFO T 
		     WHERE T.USER_ID = #{userId}
	</select>
	
	
	<!-- 插入用户信息 -->
	<insert id="insertUserInfo" parameterType="com.xwtec.ecu.web.user.bean.UserInfo">
		INSERT INTO T_USER_INFO T
		(
		T.USER_ID,T.PASSWORD,T.TELNUM,T.SALT,T.STATUS
		)
		VALUES 
		(
		#{userId},#{password},#{telnum},#{salt},#{status}
		)
	</insert>
	
	<!-- 更新用户信息 -->
	<update id="updateUserInfo" parameterType="com.xwtec.ecu.web.user.bean.UserInfo">
		UPDATE T_USER_INFO T
			<set>
			 <if test="userId!=null and userId!=''">
		       T.USER_ID = #{userId},
		     </if>
		     <if test="password!=null and password!=''">
		       T.PASSWORD = #{password},
		     </if>
		      <if test="nickName!=null and nickName!=''">
		       T.NICK_NAME = #{nickName},
		     </if>
		      <if test="headImage!=null and headImage!=''">
		       T.HEAD_IMAGE = #{headImage},
		     </if>
		      <if test="headSmallImage!=null and headSmallImage!=''">
		       T.HEAD_SMALL_IMAGE = #{headSmallImage},
		     </if>
		     <if test="sex!=null and sex!=''">
		       T.SEX = #{sex},
		     </if>
			<if test="userName!=null and userName!=''">
		       T.USER_NAME = #{userName},
		     </if>
		     <if test="country!=null and country!=''">
		       T.COUNTRY = #{country},
		     </if>
		     <if test="identifyId!=null and identifyId!=''">
		       T.IDENTIFY_ID = #{identifyId},
		     </if>
		     <if test="area!=null and area!=''">
		       T.AREA = #{area},
		     </if>
		     <if test="address!=null and address!=''">
		       T.ADDRESS = #{address},
		     </if>
			 <if test="occupation!=null and occupation!=''">
		       T.OCCUPATION = #{occupation},
		     </if>
			 <if test="status!=null and status!=''">
		       T.STATUS = #{status},
		     </if>
		      <if test="isReal!=null and isReal!=''">
		       T.IS_REAL = #{isReal},
		     </if>
		      <if test="email!=null and email!=''">
		       T.EMAIL = #{email},
		     </if>
		     <if test="isLock!=null and isLock!=''">
		       T.IS_LOCK = #{isLock},
		     </if>
			 <if test="isPayLock!=null and isPayLock!=''">
		       T.IS_PAY_LOCK = #{isPayLock},
		     </if>	
		     <if test="salt!=null and salt!=''">
		       T.SALT = #{salt},
		     </if>
		     <if test="birthday!=null and birthday!=''">
		       T.BIRTHDAY = #{birthday},
		     </if>
		     <if test="telnum!=null and telnum!=''">
		       T.TELNUM  = #{telnum},
		     </if>
		     </set>		
			WHERE
				T.TELNUM = #{telnum}
	</update>
	
	<!-- 删除用户信息 -->
	<delete id="deleteUserInfo" parameterType="com.xwtec.ecu.web.user.bean.UserInfo">
		DELETE FROM T_USER_INFO T WHERE T.TELNUM = #{telnum}
	</delete>
	
	<!-- 记录登陆日志 -->
	<insert id="recordLoginLog" parameterType="java.util.Map">
		INSERT INTO T_LOGIN_LOG T
		(
		  T.USER_ID,
		  T.TELNUM,
		  T.CHANNEL,
		  T.LOGIN_TYPE,
		  T.IP,
		  T.IMEI,
		  T.IMSI,
		  T.PHONE_MODEL,
		  T.SCREEN,
		  T.NETWORK,
		  T.VERSION,
		  T.LOGIN_TIME
		)
		VALUES
		(
		  #{userId},
		  #{telNum},
		  #{channel},
		  #{loginType},
		  #{loginIp},
		  #{imei},
		  #{imsi},
		  #{phoneModel},
		  #{screen},
		  #{netWork},
		  #{version},
		  SYSDATE
		)
	</insert>
	
	<!-- 记录自动登录指纹，没有插入，有更新 -->
	<insert id="addAutoLoginInfo" parameterType="Map">
		    INSERT INTO T_AUTOLOGIN_SECRET T
		      (T.MOBILE, T.UNIQUE_KEY, T.SECRET, T.TIME, T.VERSION)
		    VALUES
		      (#{mobile}, #{uniqueKey}, #{secret}, sysdate, #{version})
	</insert>
	
	<update id="updateAutoLoginInfo" parameterType="Map">
		UPDATE T_AUTOLOGIN_SECRET T
			SET
				T.MOBILE = #{mobile},
				T.UNIQUE_KEY = #{uniqueKey},
				T.SECRET = #{secret},
				T.TIME = sysdate,
				T.VERSION =#{version}
			WHERE 
				T.MOBILE = #{mobile}
	</update>
	
	<select id="qryAutoLoginInfo" parameterType="Map" resultType="com.xwtec.ecu.web.user.bean.AutoLoginInfo">
		SELECT T.MOBILE     AS mobile,
		       T.UNIQUE_KEY AS uniqueKey,
		       T.SECRET     AS secret,
		       T.VERSION    AS version,
		       T.TIME       AS time
		  FROM T_AUTOLOGIN_SECRET T 
		  WHERE T.MOBILE = #{mobile}
	</select>
	
	<select id="qryVersionInfo" resultType="com.xwtec.ecu.web.user.bean.VersionInfo">
		SELECT T.CHANNEL      AS channel,
		       T.VERSION      AS version,
		       T.PACKAGE_URL  AS packageUrl,
		       T.ILLUSTRATION AS illustration
		  FROM T_VERSION_INFO T
	</select>
	
	<select id="qryAddressList" parameterType="String" resultType="com.xwtec.ecu.web.user.bean.AddressInfo">
		SELECT T.ID         AS id,
		       T.ADDRESS    AS address,
		       T.TELNUM     AS telnum,
		       T.IS_DEFAULT AS isDefault,
		       T.USER_NAME  AS userName,
		       T.USER_ID    AS userId,
		       T.REGION 	AS region
		  FROM T_USER_ADDRESS_INFO T
		 WHERE T.USER_ID = #{userId}
	</select>
	
	<update id="updateAddress" parameterType="com.xwtec.ecu.web.user.bean.AddressInfo">
		UPDATE T_USER_ADDRESS_INFO T
			<set>
				 <if test="id!=null and id!=''">
			       T.ID = #{id},
			     </if>
			     <if test="address!=null and address!=''">
			       T.ADDRESS = #{address},
			     </if>
			      <if test="telnum!=null and telnum!=''">
			       T.TELNUM  = #{telnum},
			     </if>
			      <if test="isDefault!=null and isDefault!=''">
			       T.IS_DEFAULT = #{isDefault},
			     </if>
			      <if test="userName!=null and userName!=''">
			       T.USER_NAME = #{userName},
			     </if>
			     <if test="userId!=null and userId!=''">
			       T.USER_ID = #{userId},
			     </if>
			     <if test="region!=null and region!=''">
			       T.REGION = #{region},
			     </if>
		     </set>		
			WHERE
				 T.ID = #{id}
	</update>
	
	<delete id="delAddressInfo" parameterType="String">
		DELETE FROM T_USER_ADDRESS_INFO T WHERE T.ID = #{addressId}
	</delete>
	
	<insert id="insertAddress" parameterType="com.xwtec.ecu.web.user.bean.AddressInfo">
		 INSERT INTO T_USER_ADDRESS_INFO T
		   (T.ID, T.ADDRESS, T.TELNUM, T.IS_DEFAULT, T.USER_NAME, T.USER_ID,T.REGION)
		 VALUES
		   (#{id}, #{address}, #{telnum}, #{isDefault}, #{userName}, #{userId},#{region})
	</insert>
	
	<select id="qryAddressInfo" parameterType="String" resultType="com.xwtec.ecu.web.user.bean.AddressInfo">
		SELECT T.ID         AS id,
		       T.ADDRESS    AS address,
		       T.TELNUM     AS telnum,
		       T.IS_DEFAULT AS isDefault,
		       T.USER_NAME  AS userName,
		       T.USER_ID    AS userId,
		       T.REGION     AS region
		  FROM T_USER_ADDRESS_INFO T
		 WHERE T.ID = #{addressId}
	</select>
	
	<select id="qryCountAddressInfo" parameterType="String" resultType="int">
		SELECT COUNT(0) FROM T_USER_ADDRESS_INFO T WHERE T.USER_ID = #{userId}
	</select>
	
	<!-- 根据是否实名查询金额限制 -->
	<select id="qryCertificationMoneyInfoByCode" parameterType="String" resultType="String">
		select trans_money from CERTIFICATION_MONEY_LIMIT where IS_CERTIFICATION=#{code}
	</select>
</mapper>